@import "./variables.css"; /* Force HMR update 3 */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--typography-body-large-font-family), Arial, Helvetica, sans-serif;
  font-size: var(--typography-body-large-font-size);
  line-height: var(--typography-body-large-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
